.heading-primary {
  text-align: center;
  font-size: 48px;
}

.container {
  width: 1000px;
  margin: 0 auto;
}

.game-container {
  display: grid;
  grid-template-columns: 200px 1fr;
}


/* Controls style */
.game-controls {
  text-align: center;
}
.ctrl-box {
  margin-bottom: 20px;
}

.btn {
  width: 100%;
  padding: 16px 10px;
  font-size: 22px;
  transition: all 0.3s;
  cursor: pointer;
}

.ctrl-color {
  width: 100%;
  height: 80px;
}

.ctrl-btn:hover {
  background-color: #000;
  color: #fff;
}

.ctrl-btn.active {
  background-color: #000;
  color: #fff;
}

/* Sketch pad design */
.sketch-pad {
  width: 500px;
  height: 500px;
  margin: 0 auto;
}

#grid-container {
  height: 100%;
  height: 100%;
  border: 1px solid black;
}

#grid-container div {
  border: 1px solid black;
}